<p>college works!</p>
<h1>Fabtech Technical Campous of Reserch Sangola</h1>

<div class="row">
    <div class="col-md-8">
        <div class="card" >
            <img class="card-img-top" src="https://th.bing.com/th/id/OIP.CBVzwgeRJbpdXP5yuE1olAHaE8?pid=ImgDet&rs=1" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Mechanical engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a  routerLink="mechDept" class="btn btn-primary">RegisterHere</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="https://images.pexels.com/photos/1463917/pexels-photo-1463917.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Civil engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a  routerLink="civiDept" class="btn btn-primary">RegisterHere</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="https://img.freepik.com/free-psd/electrical-services-landing-page-style_23-2148652445.jpg?w=1380&t=st=1672228512~exp=1672229112~hmac=68fd52cacf3d1c42af4de893f0e462750d136e07170ce835407397c59399bf1b" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Electric  engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="eleDept" class="btn btn-primary">RegisterHere</a>
            </div>
          </div>
          <div class="card" >
            <img class="card-img-top" src="https://images.pexels.com/photos/1181676/pexels-photo-1181676.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Computer engineering</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a  routerLink="compDept" class="btn btn-primary">RegisterHere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>