<p>pipe works!</p>
<br>

<div> 
    Today's date :- {{presentDate | date}} 
 </div><br><br>

 <div> 
    short date :- {{presentDate | date:'shortDate' }} <br/>
    Full date :- {{presentDate | date:'fullDate' }} <br/> 
    Formatted date:- {{presentDate | date:'M/dd/yyyy'}} <br/> 
    Hours and minutes:- {{presentDate | date:'h:mm'}} 
 </div><br><br>

 <div> 
    Date with uppercase :- {{presentDate | date:'fullDate' | uppercase}} <br/>
    Date with lowercase :- {{presentDate | date:'medium' | lowercase}} <br/>  
 </div>


 <div>
    <a href="https://www.youtube.com/results?search_query=service+angular+8">utube</a>
 </div>
 